body{
            text-align: center;
        }
        .container{
            height:auto;
            width:50%;
            margin: auto;
            text-align: center;
            border-collapse: collapse;
        }
        .counter{
            width:25%;
            margin: auto;
            margin-top: 20px;
            margin-right: 25%;
            border-collapse: collapse;
        }
        .container td,th{
            height:40px;
        }
        .bill{
            height:30px;
            width:10%;
            font-size: 20px;
            border-radius: 5px;
            background-color: green;
            margin-top: 30px;
        }
        .bill>a{
            text-decoration: none;
            color: white;
        }
        @media (max-width:767px)
        {
            .container{
                width:70%;
            }
            .counter{
                width: 40%;
                margin-right: 15%;
            }
            .bill{
                width:20%;
            }
        }